<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.scottlnorvell.slack-2-markdown</string>
	<key>connections</key>
	<dict>
		<key>0E977B67-B5BC-4BA8-BB4C-B1DEC60E00F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0606A7D0-CB2A-43E5-93DB-009BD46B118E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>308EDED9-69AD-48D2-9FB3-7A9146E76491</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E977B67-B5BC-4BA8-BB4C-B1DEC60E00F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3194CFE9-FD86-41CC-B409-E7C83B4CB237</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C93FA1F4-3E23-49AF-9CDC-E0E2910EFB3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36ED1615-E7AA-4B46-8117-AE1A51394681</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BC9D902-58D7-4CBD-BF92-9D68385B92EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>773DAF93-AFA3-49DC-AF30-DCB562E5E425</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61CC21BA-9A82-4C43-B3B2-BD6B4ECE71EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C93FA1F4-3E23-49AF-9CDC-E0E2910EFB3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>533B11A2-31F1-45DB-A627-B85C15C2DC48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0BFA19E-6BF8-49B0-AE9D-E88B11311F0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36ED1615-E7AA-4B46-8117-AE1A51394681</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Scottlnorvell</string>
	<key>description</key>
	<string>Amazing Workflow to use your SLACK emojis in markdown</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>slack-2-markdown</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>61CC21BA-9A82-4C43-B3B2-BD6B4ECE71EC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>smd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./alfred-slack-2-markdown-rust search "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Slackmoji 2 Markdown</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>773DAF93-AFA3-49DC-AF30-DCB562E5E425</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>smdu</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Update Slack Emojis</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D0BFA19E-6BF8-49B0-AE9D-E88B11311F0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-slack-2-markdown-rust download</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36ED1615-E7AA-4B46-8117-AE1A51394681</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>UPDATED!</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>8BC9D902-58D7-4CBD-BF92-9D68385B92EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>CONFIGURED!</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>533B11A2-31F1-45DB-A627-B85C15C2DC48</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-slack-2-markdown-rust config "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C93FA1F4-3E23-49AF-9CDC-E0E2910EFB3C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>smdc</string>
				<key>subtext</key>
				<string>(enter your oauth token)</string>
				<key>text</key>
				<string>Configure Slack Emoji</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3194CFE9-FD86-41CC-B409-E7C83B4CB237</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-slack-2-markdown-rust copy --path "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E977B67-B5BC-4BA8-BB4C-B1DEC60E00F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>0606A7D0-CB2A-43E5-93DB-009BD46B118E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>smc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./alfred-slack-2-markdown-rust search --image "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Slack emojis and copy image</string>
				<key>title</key>
				<string>Slackmoji 2 Clipboard (Image)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>308EDED9-69AD-48D2-9FB3-7A9146E76491</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-slack-2-markdown [![Build Status](https://travis-ci.org/scottlnorvell/alfred-slack-2-markdown.svg?branch=master)](https://travis-ci.org/scottlnorvell/alfred-slack-2-markdown)

&gt; Slack emojis to markdown


## Install

```
$ npm install --global alfred-slack-2-markdown
```

*Requires [Node.js](https://nodejs.org) 4+ and the Alfred [Powerpack](https://www.alfredapp.com/powerpack/).*


## Configuration

- Obtain an api token for your slack group with the `emoji:read` permissions. (see [here](https://api.slack.com/methods/emoji.list))
- In alfred type `smdc`, &lt;kbd&gt;Space&lt;/kbd&gt;, and then paste in your slack api key.

## Usage

In Alfred, type `smd`, &lt;kbd&gt;Space&lt;/kbd&gt;, and then start searching emojis.


## Troubleshooting
### I can't see the pictures 😿
For some reason, alfred can only display images from your computer.
There is an initial setup to download all of the current emojis, and
you will periodically need to download all of the _new_ emojis that your team adds. To do this:

- In Alfred, type `smdu`, &lt;kbd&gt;Space&lt;/kbd&gt;
- You'll see a huge screen saying `UPDATED`
- That's it!



## License</string>
	<key>uidata</key>
	<dict>
		<key>0606A7D0-CB2A-43E5-93DB-009BD46B118E</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>0E977B67-B5BC-4BA8-BB4C-B1DEC60E00F0</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>308EDED9-69AD-48D2-9FB3-7A9146E76491</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>3194CFE9-FD86-41CC-B409-E7C83B4CB237</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>36ED1615-E7AA-4B46-8117-AE1A51394681</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>533B11A2-31F1-45DB-A627-B85C15C2DC48</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>61CC21BA-9A82-4C43-B3B2-BD6B4ECE71EC</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>773DAF93-AFA3-49DC-AF30-DCB562E5E425</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>8BC9D902-58D7-4CBD-BF92-9D68385B92EE</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>C93FA1F4-3E23-49AF-9CDC-E0E2910EFB3C</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>D0BFA19E-6BF8-49B0-AE9D-E88B11311F0F</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
